.header {
  background-color: #A69485;
  font-size: 30px;
  padding: 10px 20px;
  height: 5vh;
  display: flex;
  align-items: center;
}

.header__left {
  color: #BFC7D9;
  margin: 0 auto 0 0;
  font-size: 1.6rem;
}

.header__right {
  color: #BFC7D9;
  margin: 0 0 0 auto;
  font-size: 1.6rem;
}
