.main {
  margin: 0 auto;
  padding: 0;
  width: 60%;
  font-size: 1.8rem;
  &__link {
    color: #466C8C;
    font-size: 1.4rem;
  }
  &__list {
    width: 100%;
    margin: 0;
    color: #466C8C;
    border-bottom: #A69485 solid 1px;
    display: flex;
    &__task {
      border-left: #A69485 solid 10px;
      padding-left: 10px;
      margin: 0;
    }
    &__edit {
      margin: 0 0 0 auto;
      padding: 0 10px;
      background-color: #BFC7D9;
      color: #466C8C;
      font-size: 1.4rem;
      &:hover {
        opacity: .7;
      }
    }
    &__delete {
      padding: 0 10px;
      background-color: #BFC7D9;
      color: #466C8C;
      font-size: 1.4rem;
      &:hover {
        opacity: .7;
      }
    }
    &__add {
      padding: 0 10px;
      background-color: #BFC7D9;
      color: #466C8C;
      font-size: 1.4rem;
      &:hover {
        opacity: .7;
      }
    }
  }
}

@media screen and(max-width: 959px) {
  .main {
    width: 80%;
    font-size: 1.2rem;
    &__list {
      &__edit {
        font-size: 1rem;
      }
      &__delete {
        font-size: 1rem;
      }
      &__add {
        font-size: 1rem;
      }
    }
  }
}
@media screen and(max-width: 480px) {
  .main {
    font-size: 0.4rem;
    &__link {
      font-size: 0.6rem;
    }
    &__list {
      &__edit {
        font-size: 0.6rem;
      }
      &__delete {
        font-size: 0.6rem;
      }
      &__add {
        font-size: 0.6rem;
      }
    }
  }
}