.header {
  background-color: #999;
  color: #111;
  font-size: 30px;
  padding: 10px 20px;
  height: 5vh;
}

.login {
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
  height: 81vh;
}

.login__title {
  font-weight: normal;
}

.login__form {
  width: 400px;
  margin: 0 auto;
}

.login__form__input {
  margin: 10px 0;
}

.login__form__btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.login__form__btn * {
  width: 160px;
  border: #666 solid 1px;
  border-radius: 5px;
  color: #111;
  font-weight: normal;
  font-size: 16px;
  padding: 10px 0;
  cursor: pointer;
}

.login__form__btn *:hover {
  opacity: .6;
}

.login__form__btn-left {
  display: inline-block;
  background-color: #f0f0f0;
}

.create {
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
  height: 81vh;
}

.create__title {
  font-weight: normal;
}

.create__form {
  width: 400px;
  margin: 0 auto;
}

.create__form__input {
  margin: 10px 0;
}

.create__form__btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.create__form__btn * {
  width: 160px;
  border: #666 solid 1px;
  border-radius: 5px;
  color: #111;
  font-weight: normal;
  font-size: 16px;
  padding: 10px 0;
  cursor: pointer;
}

.create__form__btn *:hover {
  opacity: .6;
}

.create__form__btn-register {
  display: inline-block;
  background-color: #f0f0f0;
}

.main {
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
  height: 81vh;
}

.main__title {
  font-weight: normal;
}

.main__list {
  margin: 0 auto;
  padding: 0;
  width: 60%;
  font-size: 1.8rem;
}

.main__list__task {
  width: 100%;
  margin: 0;
  border-bottom: #333 solid 1px;
  display: flex;
}

.main__list__task-text {
  border-left: #333 solid 10px;
  padding-left: 10px;
  margin: 0;
}

.main__list__task-edit {
  margin: 0 0 0 auto;
  padding: 0 10px;
  background-color: #999;
  color: #333;
  font-size: 1.4rem;
}

.main__list__task-edit:hover {
  opacity: .7;
}

.add {
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
  height: 81vh;
}

.add__title {
  font-weight: normal;
}

.add__form {
  width: 400px;
  margin: 0 auto;
}

.add__form__input {
  margin: 10px 0;
}

.add__form__btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.add__form__btn-register {
  display: inline-block;
  background-color: #f0f0f0;
  font-size: 16px;
  width: 100px;
  border: #666 solid 1px;
  border-radius: 5px;
  cursor: pointer;
}

.add__form__btn-register:hover {
  opacity: .6;
}

.update {
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
  height: 81vh;
}

.update__title {
  font-weight: normal;
}

.update__form {
  width: 400px;
  margin: 0 auto;
}

.update__form__input {
  margin: 10px 0;
}

.update__form__btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.update__form__btn-register {
  display: inline-block;
  background-color: #f0f0f0;
  font-size: 16px;
  width: 100px;
  border: #666 solid 1px;
  border-radius: 5px;
  cursor: pointer;
}

.update__form__btn-register:hover {
  opacity: .6;
}

.footer {
  background-color: #999;
  color: #111;
  text-align: center;
  padding: 10px 0;
  height: 5vh;
}
