.common {
  padding: 20px;
  background-color: #D9D9D9;
  text-align: center;
  height: 81vh;
}

.common__title {
  font-weight: normal;
  color: #466C8C;
}

.common__btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.common__btn * {
  width: 160px;
  border: #666 solid 1px;
  border-radius: 5px;
  color: #BFC7D9;
  font-weight: normal;
  font-size: 16px;
  padding: 10px 0;
  background-color: #A69485;
  cursor: pointer;
}

.common__btn *:hover {
  opacity: .6;
}

.common__btn__left {
  display: inline-block;
}

.common__btn__right {
  display: inline-block;
}

.header {
  background-color: #A69485;
  font-size: 30px;
  padding: 10px 20px;
  height: 5vh;
  display: flex;
  align-items: center;
}

.header__left {
  color: #BFC7D9;
  margin: 0 auto 0 0;
  font-size: 1.6rem;
}

.header__right {
  color: #BFC7D9;
  margin: 0 0 0 auto;
  font-size: 1.6rem;
}

@media screen and (max-width: 959px) {
  .header__left {
    font-size: 1.4rem;
  }
  .header__right {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 480px) {
  .header__left {
    font-size: 1rem;
  }
  .header__right {
    font-size: 1rem;
  }
}

.login {
  width: 400px;
  margin: 0 auto;
}

.login__form {
  margin: 10px 0;
}

.create {
  width: 400px;
  margin: 0 auto;
}

.create__form {
  margin: 10px 0;
}

.main {
  margin: 0 auto;
  padding: 0;
  width: 60%;
  font-size: 1.8rem;
}

.main__link {
  color: #466C8C;
  font-size: 1.4rem;
}

.main__list {
  width: 100%;
  margin: 0;
  color: #466C8C;
  border-bottom: #A69485 solid 1px;
  display: flex;
}

.main__list__task {
  border-left: #A69485 solid 10px;
  padding-left: 10px;
  margin: 0;
}

.main__list__edit {
  margin: 0 0 0 auto;
  padding: 0 10px;
  background-color: #BFC7D9;
  color: #466C8C;
  font-size: 1.4rem;
}

.main__list__edit:hover {
  opacity: .7;
}

.main__list__delete {
  padding: 0 10px;
  background-color: #BFC7D9;
  color: #466C8C;
  font-size: 1.4rem;
}

.main__list__delete:hover {
  opacity: .7;
}

.main__list__add {
  padding: 0 10px;
  background-color: #BFC7D9;
  color: #466C8C;
  font-size: 1.4rem;
}

.main__list__add:hover {
  opacity: .7;
}

@media screen and (max-width: 959px) {
  .main {
    width: 80%;
    font-size: 1.2rem;
  }
  .main__list__edit {
    font-size: 1rem;
  }
  .main__list__delete {
    font-size: 1rem;
  }
  .main__list__add {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .main {
    font-size: 0.4rem;
  }
  .main__link {
    font-size: 0.6rem;
  }
  .main__list__edit {
    font-size: 0.6rem;
  }
  .main__list__delete {
    font-size: 0.6rem;
  }
  .main__list__add {
    font-size: 0.6rem;
  }
}

.add {
  width: 400px;
  margin: 0 auto;
}

.add__form {
  margin: 10px 0;
}

.update {
  width: 400px;
  margin: 0 auto;
}

.update__form {
  margin: 10px 0;
}

.footer {
  background-color: #A69485;
  color: #BFC7D9;
  padding: 10px 0;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

@media screen and (max-width: 480px) {
  .footer {
    font-size: 1rem;
  }
}
